.datdiv {
  display: grid;
  max-width: 100%;
  padding: 0 2% 0 2%;
  grid-template-columns: 45% 45%;
  column-gap: 6%;
}

.car {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding: 1% 0 2% 0;
  background-color: azure;
  -moz-box-shadow: 0 0 5px #aaaaaa;
  -webkit-box-shadow: 0 0 5px #aaaaaa;
  box-shadow: 0 0 5px #aaaaaa;
  border-radius: 5px;
  margin: 0 0 10% 0;
}

.carpic {
  width: 98%;
  height: 15rem;
}

.cit {
  font-weight: 600;
  font-size: 1.1em;
}

.pblock {
  display: flex;
  width: 100%;
  margin: 0;
  justify-content: center;
}

.price {
  margin: 0 10% 0 0;
}

.out {
  margin: 0;
}

.add {
  padding: 3% 5% 3% 5%;
  color: #fff;
  background-color: #0879c9;
  border-radius: 5px;
  border-color: transparent;
  font-size: 0.7em;
  margin: 5% 0 0 0;
}

@media only screen and (min-width: 992px) {
  .datdiv {
    padding: 0 2% 0 2%;
    grid-template-columns: 22% 22% 22% 22%;
    column-gap: 2%;
  }

  .car {
    margin: 0;
  }
}
