.cardiv {
  display: flex;
  flex-direction: column;
  max-width: 100%;
}

.title {
  text-align: center;
  color: #fff;
  font-weight: 2.6em;
  padding-top: 1.5rem;
  font-size: 1.8em;
  margin: 0 0 2% 0;
}

.main {
  background-color: #0879c9;
  padding: 0 0 5% 0;
}
