@import url("https://fonts.googleapis.com/css2?family=Racing+Sans+One&display=swap");

.header {
  display: flex;
  flex-direction: column;
  max-width: 100%;
}

.contact {
  width: 100%;
  display: flex;
  flex-direction: column;
  background-color: #0879c9;
  color: #fff;
  align-items: center;
  justify-content: center;
  padding: 5% 0 0 0;
}

.zone {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 80%;
  font-size: 1em;
  height: 1.1rem;
}

.link {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 1%;
}

.li {
  display: flex;
  align-items: center;
  justify-content: center;
}

.lin {
  display: flex;
  align-items: center;
  justify-content: center;
}

.log {
  display: flex;
  flex-direction: column;
}

.store {
  display: flex;
  width: 100%;
  align-items: center;
  margin: 1% 0 0 1%;
}

.tit {
  margin: 0 0 0 2%;
  font-family: "Racing Sans One", cursive;
  color: rgb(211, 90, 97);
  font-size: 1.7em;
}

.form {
  display: flex;
  width: 100%;
  margin: 4% 0 0 0;
  justify-content: center;
}

.inp {
  width: 45%;
  padding: 2%;
  border-color: #dfdfdf;
}

.submit {
  width: 15%;
  margin: 0 2% 0 1%;
  background-color: #f45c5e;
  color: #fff;
  border-color: #f45c5e;
}

.cart {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 8%;
  background-color: #000;
}

.container {
  display: flex;
  flex-direction: column;
  max-width: 100%;
}

.nav {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #4981f1;
  margin: 2% 0 0 0;
  width: 100%;
}

.navdiv {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
  justify-content: center;
  padding: 0 0 3% 0;
}

.cat {
  display: flex;
  width: 40%;
  margin: 3% 3% 0 0;
  background-color: #fff;
  box-shadow: 0 0 3px #aaaaaa;
  align-items: center;
  justify-content: flex-end;
}

.tex {
  width: 100%;
  padding: 1% 3% 1% 3%;
}

.btn {
  width: 20%;
  margin-left: 5%;
  padding-left: 5%;
  background-color: #d8d1d1;
}

.nal {
  width: 8%;
  text-align: center;
  color: #fff;
  margin: 1.5% 0 0 0;
  font-size: 1.1em;
}

.active {
  width: 8%;
  text-align: center;
  color: #f45c5e;
  font-weight: 600;
  margin: 1.5% 0 0 0;
  font-size: 1.1em;
}

.nax {
  width: 50%;
  text-align: center;
  color: #fff;
  margin: 1.5% 0 0 0;
  font-size: 1.1em;
}

.about {
  width: 40%;
  text-align: center;
  color: #fff;
  margin: 1.5% 0 0 0;
  font-size: 1.1em;
}

.con {
  width: 42%;
  text-align: center;
  color: #fff;
  margin: 1.5% 0 0 0;
  font-size: 1.1em;
}

@media only screen and (min-width: 992px) {
  .contact {
    flex-direction: row;
    justify-content: flex-end;
    padding: 0.6% 1% 0.6% 1%;
    height: 2.4rem;
  }

  .zone {
    align-items: center;
    width: 47%;
    justify-content: flex-start;
  }

  .link {
    width: 12%;
    font-size: 0.9em;
    border-right: 1px solid #fff;
    height: 1.1rem;
    margin: 0;
  }

  .li {
    width: 8%;
    font-size: 0.9em;
    border-right: 1px solid #fff;
    height: 1.1rem;
  }

  .lin {
    width: 8%;
    font-size: 0.9em;
    height: 1.1rem;
  }

  .log {
    flex-direction: row;
    width: 70%;
    height: 2.2rem;
    justify-content: center;
    margin: 1.2% auto 0 auto;
  }

  .store {
    width: 30%;
    margin: 0;
  }

  .tit {
    margin: 0 0 0 1%;
    font-size: 1.9em;
  }

  .form {
    width: 60%;
    margin: 0;
    align-items: flex-start;
    justify-content: flex-start;
  }

  .inp {
    width: 80%;
  }

  .submit {
    height: 2.5rem;
  }

  .cart {
    width: 9%;
    height: 2.5rem;
  }

  .nav {
    flex-direction: row;
    margin: 1% 0 0 0;
    height: 2.7rem;
    padding: 2% 7% 2% 7%;
    background-color: #f8f9fb;
  }

  .navdiv {
    flex-direction: row;
    width: 80%;
    background-color: #f8f9fb;
    padding: 0;
  }

  .cat {
    width: 18%;
    margin: 0 3% 0 0;
    height: 2.4em;
    padding: 0;
  }

  .btn {
    display: flex;
    width: 9%;
    margin-left: 25%;
    background-color: #d8d1d1;
    height: 2.4em;
    padding-left: 2%;
  }

  .nal {
    color: #000;
    margin: 0;
    font-size: 1em;
  }

  .active {
    margin: 0;
  }

  .nax {
    width: 12%;
    color: #000;
    margin: 0;
    font-size: 1em;
  }

  .about {
    width: 12%;
    color: #000;
    margin: 0;
    font-size: 1em;
  }

  .con {
    width: 10%;
    color: #000;
    margin: 0;
    font-size: 1em;
  }
}
